{% extends 'base.html.twig' %}

{% block title %}New Logement{% endblock %}

{% block body %}

    {{ include('logement/_form.html.twig') }}

    <a href="{{ path('app_logement_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
